---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/organisms/Hero.astro';
---

<Layout>
  <Hero />
  
  <!-- Other sections to be implemented here -->
  <section class="h-[1000px] bg-white flex items-center justify-center border-t border-gray-100">
    <p class="text-gray-400 font-medium italic">Seccion de Cobertura y Servicios proximamente...</p>
  </section>
</Layout>
